extends ../view/index
include ../feedback/index
include ../results/index
include ../detail/index

block body
  header.header.view__header
    .nav
      .nav__links-container
        form(method="get" action=favoritePath)
          if isClickedFavorites
            button.nav__elems.nav__button.nav__button--clicked Favorites
          else
            button.nav__elems.nav__button Favorites
        form(method="post" action=logout)
          button.nav__elems.nav__button Logout
      p.nav__elems Hello, !{name}
    h1.header__title Duck Store
    form.header__form.form(method="get" action=path)
      input.form__input(type="text" name="query" placeholder="search..."
        query= query || '')
      button.form__button
        i.fas.fa-search
  if error
    .feedback--search
      +feedback(error)
  if results
    -let items=results
    +results(results, favPath, detailPath)
  if item
    +detail(item, backPath, favPath, id, isFav)
  if favorites
    -let item=favorites
    +results(item, favPath, detailPath)
